html,
body,
div#root,
div#root > div {
  width: 100vw;
  height: 100vh;
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
